.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/
.idea/vcs.xml

.idea/libraries/node_chat_node_modules.xml

.idea/dictionaries/ruanhaojian.xml

.idea/jsLibraryMappings.xml
